* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #c31432, #240b36);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 70%;
  background-color: blue;
}
.left-block {
  width: 50%;
  height: 100%;
  background-color: yellow;
}
